.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-left: 93%
}

.App-header {
  background-color: #212121;
  height: 60px;
  color: white;
  width: 100%;
  position: absolute;
   z-index: 1;
}

.App-sidebar {
  background-color: #000;
  height: 105.9vh;
  color: white;
}

.filterSearch{
  padding-top: 100px;
  background-color: #212121
}
.input{
  display: block;
  margin: 0.1em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LeftSection{
  width: 15%;
  flex-wrap: wrap;
  order: 1;
  position: absolute;
  transform: translate(-15%, 0);
  transition: transform 0.3s ease;
}
.LeftSectionOpen{
  transform: translate(0, 0);
}
.RightSection{
  flex-direction: column;
  width: 85%;
  flex-wrap: wrap;
  order: 2
}
img{
  max-width: 100%;
}
a, button {
  min-width:48px;
  min-height:48px;
}
#menu svg {
  width: 40px;
  fill: #fff;
}