.flex-container {
  display: flex;
  flex-direction: row;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-left: 93%
}

.App-header {
  background-color: #212121;
  height: 60px;
  color: white;
  width: 100%;
}

.App-sidebar {
  background-color: #000;
  height: 105.9vh;
  color: white;
}

.filterSearch{
  padding-top: 100px;
}
.input{
  display: block;
  margin: 0.1em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LeftSection{
  width: 15%;
  flex-wrap: wrap;
}
.RightSection{
  flex-direction: column;
  width: 85%;
  flex-wrap: wrap;
}
