.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}
.BodySection{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  width: 100vw;
}
.App {
  text-align: center;
}

.App-footer {
  width: 100%;
  order: 2;
  display: block;
  z-index: 2;
}
.App-footer-text{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  background-color: #222;
  color: white;
  line-height: 3em;
  margin: 0
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 80%;
  margin-top: 0.6%;
}

.App-header {
  background-color: #212121;
  height: 75px;
  color: white;
  width: 100%;
  position: static;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.App-sidebar {
  display: inline-block;
  background-color: #000;
  height: 84.3vh;
  color: white;
  width: 100%;
}

.filterSearch{
  background-color: #212121
}
.my-list{
  padding-bottom: 50%;
}

.input{
  display: flex;
  margin: auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mapElement{
  position: relative;
  width: 100%;
  height: 100%;
}

@media  (min-width: 1240px){
  .LeftSection{
    width: 20%;
    flex-wrap: wrap;
    order: 1;
    position: relative;
    z-index: 1;
  }
  .RightSection{
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    order: 2
  }
  #menu svg {
    width: 40px;
    fill: #fff;
    display: none
  }
  .App-logo {
    margin-left: 87%;
  }
}
@media (min-width: 992px) and (max-width: 1239px){
  .LeftSection{
    width: 25%;
  }
  .RightSection{
    width: 75%;
  }
  #menu svg {
    display: none;
    fill: #fff;
  }
  .App-header {
    justify-content: flex-start;
  }
  .App-logo {
    margin-left: 87%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .LeftSection{
    transform: translate(-300px, 0);
    transition: transform 1s ease;
    width: 30%;
    z-index: 1;
  }
  .RightSection{
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  #menu svg {
    display: flex;
    fill: #fff;
  }
  .App-header {
    justify-content: flex-start;
  }
  .App-logo {
    margin-left: 85%;
  }
}
@media (min-width: 601px) and (max-width: 767px){
  .LeftSection{
    transform: translate(-300px, 0);
    transition: transform 1s ease;
    width: 35%;
    z-index: 1;
  }
  .RightSection{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #menu svg {
    display: flex;
    fill: #fff;
  }
  .App-header {
    justify-content: flex-start;
  }
  .App-logo{
    margin-left: 80%;
  }
}
@media (min-width: 470px) and (max-width: 600px){
  .LeftSection{
    transform: translate(-300px, 0);
    transition: transform 1s ease;
    width: 40%;
    z-index: 1;
  }
  .RightSection{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #menu svg {
    display: flex;
    fill: #fff;
  }
  .App-header {
    justify-content: flex-start;
  }
  .App-logo {
    margin-left: 76%;
  }
}
@media (max-width: 469px){
  .LeftSection{
    transform: translate(-300px, 0);
    transition: transform 1s ease;
    width: 80%;
    z-index: 1;
  }
  .RightSection{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #menu svg {
    display: flex;
    fill: #fff;
  }
  .App-header {
    justify-content: flex-start;
  }
  .App-logo {
    margin-left: 65%;
  }
}

.LeftSectionOpen{
  transform: translate(0, 0);
}
img{
  max-width: 100%;
}
a, button {
  min-width:48px;
  min-height:48px;
}
